h1{
    font-size: 28px !important;
    font-weight: bold !important;
    color: darkblue !important;
    width: 100%;
}
#instructions{
    font-size: 23px !important;
    color: darkblue !important;
    float: right;
}
#start,#restart{
    font-size: 23px !important;
    font-style: oblique;
    margin: 40px;
    box-shadow: 6px 7px 5px grey;
    
}
